@media (max-width:425px){
    .section1{
        padding: 15px;
        font-size: 15px;
    }

    .s1{
        width:100%;
        margin-bottom: 50px;
    }

    .code{
        font-size: 13px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:20px 20px;
    }
}